# IntelliJ Directories
.idea/libraries/
.idea/shelf
out/

# IntelliJ Files
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/tasks.xml
*.iml
*.iws

# Output files
*target*
*.jar
*.war
*.ear
*.class

# Eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# VSCode files
*.code-workspace

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Others
ooad/
**/resources/config.properties