body {
    background-image: url('../images/airplane.jpg');
    background-attachment: fixed;
    background-size: 100%;
    font-size: large;
}

.gradient-custom {
    background: linear-gradient(to bottom, rgba(0, 0, 100, 1), rgba(255, 255, 255, 0))
}

label {
    color: goldenrod;
    display: block;
    width: 150px;
    float: left;
}