label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: darkgray;
    color: white;
    width: 20%;
}

/* Style the container for inputs */
.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: navy;
}

.label {
    color: #4CAF50;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}